.container {
  width: 100%;
}

.contents {
  width:80vw;
  margin: 0 auto;
  font-family: Noto Sans Japanese;
  margin-bottom: 300px;
  animation-name: fadeinup;
  animation-delay: 0.2s;
  animation-duration: 0.4s;
}

.title{
  border: 0;
}

//marginの外にborderをつけるためwrapper追加
.articleBodyWrapper {
  min-height: 200px;
  padding:10px 0;
  background-color: white;
  border-radius: 20px;
}

.articleBody {
  font-size: 1.2rem;
  width: 90%;
  margin:40px auto;
}

@keyframes fadeinup{
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}