.container {
  width:80%;
  margin: 0 auto;
  margin-bottom: 300px;
  animation-name: fadeinup;
  animation-delay: 0.2s;
  animation-duration: 0.4s;
}

.title {
  padding:20px 0;
  margin-left: 30px;
  font-size:3rem;
}

.date {
  padding:20px 0;
  margin-left: 50px;
  font-size: 1.5rem;
}

.content {
  min-height: 200px;
  padding:10px 0;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px -2px #000a3c1a;
}

.md {
  font-size: 1.2rem;
  width: 90%;
  margin: 60px auto;
}

@keyframes fadeinup{
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width:500px) {
  .container {
    width: 100%;
  }
}