* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 100vw;
  font-size: 100%;
  font-family: Noto Sans Japanese;
  font-weight: 100;
  background-color: aliceblue;
  color: #3c3b3b;
}


a {
  color: inherit;
  text-decoration: none;
}
