.listWrapper {
    width: 80%;
    margin: 50px auto;
}

.listTitle {
    font-size: 4rem;
    padding-bottom: 10px;
    border-bottom: solid 1px gray;
}

.list {
    padding-top: 10px;
    width: 90%;
    margin: 0 auto;
}

.article {
    margin: 10px 0;
    font-family: Raleway;
}